bordo = #551C3D
dorado = #A19663
violeta = #6E6CB8
@font-face
   font-family Prata
   font-style normal
   src url(/assets/fonts/Prata-Regular.ttf)

 .prata
   font-family Prata

body 
    font-family "Verdana"
    margin 0
    padding 0
h1, h2, h3, h4, h5, h6 
    font-family "Prata"
a  
    color bordo 
    text-decoration none 
.container-fluid 
    margin 0
    padding 0
header
    margin 0
    padding 0
    .nav
    .navbar-brand
        margin-left 40px
main 
    background-image url ("/assets/img/E51766CC-1669-4E25-B31C-A41A9AF37EDC_1_105_c.jpeg") no-repeat
section 
    min-height 400px
    margin 200px 0
    padding-top 80px
footer
    background-color bordo 
    min-height 80px
    margin 0
    padding 0
// estilos
.txtPrata
    font-family "Prata"
.txtBordo
    color bordo 
.txtDorado
    color dorado 
.txtVioleta 
    color violeta
.fondoBordo
    background-color bordo 
.fondoDorado
    background-color dorado 
.fondoVioleta 
    background-color violeta
